<html>

<head>
    <title>First Angular App</title>
    <style>
        .fruit {
            background-color: green;
        }
    </style>
</head>

<body ng-app="myApp">
    <div ng-controller="myController" ng-show="display">
        {{ message }} {{ name }}</br>
        <input type="text" ng-model="name" /></br>
        <span ng-class="{fruit: someObject.fruit}">{{ someObject.name }}</span>
        <button ng-click="someObject.fruit = !someObject.fruit">change bg</button></br>
        <span ng-class="{fruit: someOtherObject.fruit}">{{ someOtherObject.name }}</span></br>
        </br>
        <input type="text" ng-model="newCity" /><button ng-click="addCity()"> add </button>
        <ul ng-repeat="city in cities" ng-show='cities.length > 0'>
            <li> {{ city.displayName }} <button ng-click="sayRegion($index)">{{ city.button }}</button></li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/controller/myController.js"></script>
    <script src="js/app.js"></script>
</body>

</html>

</html>
